extends layout

block content

  nav.navbar.fixed-top.navbar-dark.bg-dark
    a.navbar-brand(href='#') BiciApp

  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 Red de bicicletas
        p.lead
          | Bienvenido a la comunidad de ciclistas de Aracataca
  h1.text-center.text-muted Aracataca
  #main_map


  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(src="/javascripts/map.js")
  